openapi: 3.0.1
info:
  title: BoldSign API
  version: "1"
servers:
- url: https://api.boldsign.com
security:
- Bearer: []
- X-API-KEY: []
paths:
  /v1/brand/create:
    post:
      operationId: CreateBrand
      requestBody:
        content:
          multipart/form-data:
            encoding:
              BrandName:
                style: form
              BrandLogo:
                style: form
              BackgroundColor:
                style: form
              ButtonColor:
                style: form
              ButtonTextColor:
                style: form
              EmailDisplayName:
                style: form
              DisclaimerDescription:
                style: form
              DisclaimerTitle:
                style: form
              RedirectUrl:
                style: form
              IsDefault:
                style: form
              CanHideTagLine:
                style: form
              CombineAuditTrail:
                style: form
              ExcludeAuditTrailFromEmail:
                style: form
              EmailSignedDocument:
                style: form
              DocumentTimeZone:
                style: form
              ShowBuiltInFormFields:
                style: form
              AllowCustomFieldCreation:
                style: form
              ShowSharedCustomFields:
                style: form
              HideDecline:
                style: form
              HideSave:
                style: form
              DocumentExpirySettings.ExpiryDateType:
                style: form
              DocumentExpirySettings.ExpiryValue:
                style: form
              DocumentExpirySettings.EnableDefaultExpiryAlert:
                style: form
              DocumentExpirySettings.EnableAutoReminder:
                style: form
              DocumentExpirySettings.ReminderDays:
                style: form
              DocumentExpirySettings.ReminderCount:
                style: form
              CustomDomainSettings.DomainName:
                style: form
              CustomDomainSettings.FromName:
                style: form
            schema:
              $ref: '#/components/schemas/CreateBrand_request'
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/xml:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            text/plain:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            text/json:
              schema:
                $ref: '#/components/schemas/BrandCreated'
          description: Success
        "401":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
      summary: Create the brand.
      tags:
      - Branding
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
      - application/json;odata.metadata=full
      - application/json;odata.metadata=full;odata.streaming=false
      - application/json;odata.metadata=full;odata.streaming=true
      - application/json;odata.metadata=minimal
      - application/json;odata.metadata=minimal;odata.streaming=false
      - application/json;odata.metadata=minimal;odata.streaming=true
      - application/json;odata.metadata=none
      - application/json;odata.metadata=none;odata.streaming=false
      - application/json;odata.metadata=none;odata.streaming=true
      - application/json;odata.streaming=false
      - application/json;odata.streaming=true
      - application/prs.odatatestxx-odata
      - application/xml
      - text/json
      - text/plain
  /v1/brand/edit:
    post:
      operationId: EditBrand
      parameters:
      - description: The brand id.
        explode: true
        in: query
        name: brandId
        required: true
        schema:
          title: String
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            encoding:
              BrandName:
                style: form
              BrandLogo:
                style: form
              BackgroundColor:
                style: form
              ButtonColor:
                style: form
              ButtonTextColor:
                style: form
              EmailDisplayName:
                style: form
              DisclaimerDescription:
                style: form
              DisclaimerTitle:
                style: form
              RedirectUrl:
                style: form
              IsDefault:
                style: form
              CanHideTagLine:
                style: form
              CombineAuditTrail:
                style: form
              ExcludeAuditTrailFromEmail:
                style: form
              EmailSignedDocument:
                style: form
              DocumentTimeZone:
                style: form
              ShowBuiltInFormFields:
                style: form
              AllowCustomFieldCreation:
                style: form
              ShowSharedCustomFields:
                style: form
              HideDecline:
                style: form
              HideSave:
                style: form
              DocumentExpirySettings.ExpiryDateType:
                style: form
              DocumentExpirySettings.ExpiryValue:
                style: form
              DocumentExpirySettings.EnableDefaultExpiryAlert:
                style: form
              DocumentExpirySettings.EnableAutoReminder:
                style: form
              DocumentExpirySettings.ReminderDays:
                style: form
              DocumentExpirySettings.ReminderCount:
                style: form
              CustomDomainSettings.DomainName:
                style: form
              CustomDomainSettings.FromName:
                style: form
            schema:
              $ref: '#/components/schemas/EditBrand_request'
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/xml:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            text/plain:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            text/json:
              schema:
                $ref: '#/components/schemas/BrandCreated'
          description: Success
        "401":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
      summary: Edit the brand.
      tags:
      - Branding
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
      - application/json;odata.metadata=full
      - application/json;odata.metadata=full;odata.streaming=false
      - application/json;odata.metadata=full;odata.streaming=true
      - application/json;odata.metadata=minimal
      - application/json;odata.metadata=minimal;odata.streaming=false
      - application/json;odata.metadata=minimal;odata.streaming=true
      - application/json;odata.metadata=none
      - application/json;odata.metadata=none;odata.streaming=false
      - application/json;odata.metadata=none;odata.streaming=true
      - application/json;odata.streaming=false
      - application/json;odata.streaming=true
      - application/prs.odatatestxx-odata
      - application/xml
      - text/json
      - text/plain
  /v1/brand/get:
    get:
      operationId: GetBrand
      parameters:
      - description: The brand id.
        explode: true
        in: query
        name: brandId
        required: true
        schema:
          title: String
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewBrandDetails'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
      summary: Get the specific brand details.
      tags:
      - Branding
      x-accepts:
      - application/json
  /v1/brand/delete:
    delete:
      operationId: DeleteBrand
      parameters:
      - description: brand Id.
        explode: true
        in: query
        name: brandId
        required: true
        schema:
          title: String
          type: string
        style: form
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
          description: Success
        "401":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
      summary: Delete the brand.
      tags:
      - Branding
      x-accepts:
      - application/json
      - application/json;odata.metadata=full
      - application/json;odata.metadata=full;odata.streaming=false
      - application/json;odata.metadata=full;odata.streaming=true
      - application/json;odata.metadata=minimal
      - application/json;odata.metadata=minimal;odata.streaming=false
      - application/json;odata.metadata=minimal;odata.streaming=true
      - application/json;odata.metadata=none
      - application/json;odata.metadata=none;odata.streaming=false
      - application/json;odata.metadata=none;odata.streaming=true
      - application/json;odata.streaming=false
      - application/json;odata.streaming=true
      - application/prs.odatatestxx-odata
      - application/xml
      - text/json
      - text/plain
  /v1/brand/resetdefault:
    post:
      operationId: ResetDefaultBrand
      parameters:
      - description: brand Id.
        explode: true
        in: query
        name: brandId
        required: true
        schema:
          title: String
          type: string
        style: form
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
          description: Success
        "401":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
      summary: Reset default brand.
      tags:
      - Branding
      x-accepts:
      - application/json
      - application/json;odata.metadata=full
      - application/json;odata.metadata=full;odata.streaming=false
      - application/json;odata.metadata=full;odata.streaming=true
      - application/json;odata.metadata=minimal
      - application/json;odata.metadata=minimal;odata.streaming=false
      - application/json;odata.metadata=minimal;odata.streaming=true
      - application/json;odata.metadata=none
      - application/json;odata.metadata=none;odata.streaming=false
      - application/json;odata.metadata=none;odata.streaming=true
      - application/json;odata.streaming=false
      - application/json;odata.streaming=true
      - application/prs.odatatestxx-odata
      - application/xml
      - text/json
      - text/plain
  /v1/brand/list:
    get:
      operationId: BrandList
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandingRecords'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
      summary: List all the brands.
      tags:
      - Branding
      x-accepts:
      - application/json
  /v1/contacts/list:
    get:
      operationId: ContactUserList
      parameters:
      - description: Page size specified in get user contact list request. Default
          value is 10.
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          default: 10
          format: int32
          title: Int32
          type: integer
        style: form
      - description: Page index specified in get user contact list request. Default
          value is 1.
        explode: true
        in: query
        name: Page
        required: true
        schema:
          default: 1
          format: int32
          title: Int32
          type: integer
        style: form
      - description: Contacts can be listed by the search  based on the Name or Email
        explode: true
        in: query
        name: SearchKey
        required: false
        schema:
          title: String
          type: string
        style: form
      - description: Contact type whether the contact is My Contacts or All Contacts.
          Default value is AllContacts.
        explode: true
        in: query
        name: ContactType
        required: false
        schema:
          enum:
          - MyContacts
          - AllContacts
          title: ContactType
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsList'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Bad Request
      summary: List Contact document.
      tags:
      - Contacts
      x-accepts:
      - application/json
  /v1/contacts/delete:
    delete:
      operationId: DeleteContacts
      parameters:
      - description: The contact id.
        explode: true
        in: query
        name: id
        required: true
        schema:
          title: String
          type: string
        style: form
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
      summary: Deletes a contact.
      tags:
      - Contacts
      x-accepts:
      - application/json
  /v1/contacts/create:
    post:
      operationId: CreateContact
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              items:
                $ref: '#/components/schemas/ContactDetails'
              title: List`1
              type: array
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              items:
                $ref: '#/components/schemas/ContactDetails'
              title: List`1
              type: array
          application/json;odata.metadata=minimal:
            schema:
              items:
                $ref: '#/components/schemas/ContactDetails'
              title: List`1
              type: array
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              items:
                $ref: '#/components/schemas/ContactDetails'
              title: List`1
              type: array
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              items:
                $ref: '#/components/schemas/ContactDetails'
              title: List`1
              type: array
          application/json;odata.metadata=full:
            schema:
              items:
                $ref: '#/components/schemas/ContactDetails'
              title: List`1
              type: array
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              items:
                $ref: '#/components/schemas/ContactDetails'
              title: List`1
              type: array
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              items:
                $ref: '#/components/schemas/ContactDetails'
              title: List`1
              type: array
          application/json;odata.metadata=none:
            schema:
              items:
                $ref: '#/components/schemas/ContactDetails'
              title: List`1
              type: array
          application/json;odata.streaming=true:
            schema:
              items:
                $ref: '#/components/schemas/ContactDetails'
              title: List`1
              type: array
          application/json;odata.streaming=false:
            schema:
              items:
                $ref: '#/components/schemas/ContactDetails'
              title: List`1
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ContactDetails'
              title: List`1
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/ContactDetails'
              title: List`1
              type: array
          application/prs.odatatestxx-odata:
            schema:
              items:
                $ref: '#/components/schemas/ContactDetails'
              title: List`1
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/ContactDetails'
              title: List`1
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/ContactDetails'
              title: List`1
              type: array
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/ContactDetails'
              title: List`1
              type: array
        description: The contact details.
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateContactResponse'
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Bad Request
      summary: Create the new Contact.
      tags:
      - Contacts
      x-content-type: application/json;odata.metadata=minimal;odata.streaming=true
      x-accepts:
      - application/json
  /v1/contacts/update:
    put:
      operationId: UpdateContact
      parameters:
      - description: The contactId.
        explode: true
        in: query
        name: id
        required: false
        schema:
          title: String
          type: string
        style: form
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          application/json;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          application/json:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          application/xml:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          application/prs.odatatestxx-odata:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          text/json:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ContactDetails'
        description: The contact details.
      responses:
        "200":
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Bad Request
      summary: Update the contact.
      tags:
      - Contacts
      x-content-type: application/json;odata.metadata=minimal;odata.streaming=true
      x-accepts:
      - application/json
  /v1/contacts/get:
    get:
      operationId: GetContact
      parameters:
      - description: Contact Id.
        explode: true
        in: query
        name: id
        required: true
        schema:
          title: String
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsDetails'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
      summary: Get summary of the contact.
      tags:
      - Contacts
      x-accepts:
      - application/json
  /v1/customField/create:
    post:
      operationId: CreateCustomField
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/xml:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/prs.odatatestxx-odata:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          text/json:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
        description: The custom field details.
        required: true
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
          description: Success
        "401":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
      summary: Create the custom field.
      tags:
      - Custom Field
      x-content-type: application/json;odata.metadata=minimal;odata.streaming=true
      x-accepts:
      - application/json
      - application/json;odata.metadata=full
      - application/json;odata.metadata=full;odata.streaming=false
      - application/json;odata.metadata=full;odata.streaming=true
      - application/json;odata.metadata=minimal
      - application/json;odata.metadata=minimal;odata.streaming=false
      - application/json;odata.metadata=minimal;odata.streaming=true
      - application/json;odata.metadata=none
      - application/json;odata.metadata=none;odata.streaming=false
      - application/json;odata.metadata=none;odata.streaming=true
      - application/json;odata.streaming=false
      - application/json;odata.streaming=true
      - application/prs.odatatestxx-odata
      - application/xml
      - text/json
      - text/plain
  /v1/customField/edit:
    post:
      operationId: EditCustomField
      parameters:
      - description: The custom field id.
        explode: true
        in: query
        name: customFieldId
        required: true
        schema:
          title: String
          type: string
        style: form
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/xml:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/prs.odatatestxx-odata:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          text/json:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BrandCustomFieldDetails'
        description: The custom field details.
        required: true
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomFieldMessage'
          description: Success
        "401":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
      summary: Edit the custom field.
      tags:
      - Custom Field
      x-content-type: application/json;odata.metadata=minimal;odata.streaming=true
      x-accepts:
      - application/json
      - application/json;odata.metadata=full
      - application/json;odata.metadata=full;odata.streaming=false
      - application/json;odata.metadata=full;odata.streaming=true
      - application/json;odata.metadata=minimal
      - application/json;odata.metadata=minimal;odata.streaming=false
      - application/json;odata.metadata=minimal;odata.streaming=true
      - application/json;odata.metadata=none
      - application/json;odata.metadata=none;odata.streaming=false
      - application/json;odata.metadata=none;odata.streaming=true
      - application/json;odata.streaming=false
      - application/json;odata.streaming=true
      - application/prs.odatatestxx-odata
      - application/xml
      - text/json
      - text/plain
  /v1/customField/delete:
    delete:
      operationId: DeleteCustomField
      parameters:
      - description: The custom field id.
        explode: true
        in: query
        name: customFieldId
        required: true
        schema:
          title: String
          type: string
        style: form
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/DeleteCustomFieldReply'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/DeleteCustomFieldReply'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/DeleteCustomFieldReply'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/DeleteCustomFieldReply'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/DeleteCustomFieldReply'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/DeleteCustomFieldReply'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/DeleteCustomFieldReply'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/DeleteCustomFieldReply'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/DeleteCustomFieldReply'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/DeleteCustomFieldReply'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/DeleteCustomFieldReply'
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCustomFieldReply'
            application/xml:
              schema:
                $ref: '#/components/schemas/DeleteCustomFieldReply'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/DeleteCustomFieldReply'
            text/plain:
              schema:
                $ref: '#/components/schemas/DeleteCustomFieldReply'
            text/json:
              schema:
                $ref: '#/components/schemas/DeleteCustomFieldReply'
          description: Success
        "401":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
      summary: Delete the custom field.
      tags:
      - Custom Field
      x-accepts:
      - application/json
      - application/json;odata.metadata=full
      - application/json;odata.metadata=full;odata.streaming=false
      - application/json;odata.metadata=full;odata.streaming=true
      - application/json;odata.metadata=minimal
      - application/json;odata.metadata=minimal;odata.streaming=false
      - application/json;odata.metadata=minimal;odata.streaming=true
      - application/json;odata.metadata=none
      - application/json;odata.metadata=none;odata.streaming=false
      - application/json;odata.metadata=none;odata.streaming=true
      - application/json;odata.streaming=false
      - application/json;odata.streaming=true
      - application/prs.odatatestxx-odata
      - application/xml
      - text/json
      - text/plain
  /v1/customField/list:
    get:
      operationId: CustomFieldsList
      parameters:
      - description: The brand id.
        explode: true
        in: query
        name: brandId
        required: true
        schema:
          title: String
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldCollection'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
      summary: List the custom fields respective to the brand id.
      tags:
      - Custom Field
      x-accepts:
      - application/json
  /v1/customField/createEmbeddedCustomFieldUrl:
    post:
      operationId: EmbedCustomField
      parameters:
      - description: The Brand ID for custom fields must be configured
        explode: true
        in: query
        name: BrandId
        required: true
        schema:
          title: String
          type: string
        style: form
      - description: This property is used to set the validity of the generated URL.
          Its maximum validity is 30 days
        explode: true
        in: query
        name: LinkValidTill
        required: false
        schema:
          format: date-time
          title: Nullable`1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedCustomFieldCreated'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
      summary: Generates a URL for creating or modifying custom fields within your
        application's embedded Designer.
      tags:
      - Custom Field
      x-accepts:
      - application/json
  /v1/document/send:
    post:
      operationId: SendDocument
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendForSign'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SendForSign'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SendForSign'
        description: The send for sign request body.
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCreated'
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
      summary: Sends the document for sign.
      tags:
      - Document
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/document/extendExpiry:
    patch:
      operationId: ExtendExpiry
      parameters:
      - description: Document Id.
        explode: true
        in: query
        name: documentId
        required: true
        schema:
          title: String
          type: string
        style: form
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/xml:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/prs.odatatestxx-odata:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          text/json:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
        description: "The new expiry value should be specified in yyyy-MM-dd format\
          \ for days type, ISO date time format for specific date time and integer\
          \ for hours type."
      responses:
        "200":
          description: Success
        "401":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/prs.odatatestxx-odata:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
      summary: Extends the expiration date of the document.
      tags:
      - Document
      x-content-type: application/json;odata.metadata=minimal;odata.streaming=true
      x-accepts:
      - application/json
      - application/json;odata.metadata=full
      - application/json;odata.metadata=full;odata.streaming=false
      - application/json;odata.metadata=full;odata.streaming=true
      - application/json;odata.metadata=minimal
      - application/json;odata.metadata=minimal;odata.streaming=false
      - application/json;odata.metadata=minimal;odata.streaming=true
      - application/json;odata.metadata=none
      - application/json;odata.metadata=none;odata.streaming=false
      - application/json;odata.metadata=none;odata.streaming=true
      - application/json;odata.streaming=false
      - application/json;odata.streaming=true
      - application/prs.odatatestxx-odata
      - application/xml
      - text/json
      - text/plain
  /v1/document/createEmbeddedRequestUrl:
    post:
      operationId: CreateEmbeddedRequestUrlDocument
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddedDocumentRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmbeddedDocumentRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmbeddedDocumentRequest'
        description: The embedded send document request body.
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedSendCreated'
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
      summary: Generates a send URL which embeds document sending process into your
        application.
      tags:
      - Document
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/document/list:
    get:
      operationId: ListDocuments
      parameters:
      - explode: true
        in: query
        name: SentBy
        required: false
        schema:
          items:
            title: String
            type: string
          title: List`1
          type: array
        style: form
      - explode: true
        in: query
        name: Recipients
        required: false
        schema:
          items:
            title: String
            type: string
          title: List`1
          type: array
        style: form
      - explode: true
        in: query
        name: TransmitType
        required: false
        schema:
          enum:
          - Sent
          - Received
          - ' Both'
          title: TransmitType
          type: string
        style: form
      - description: Page size specified in get document list request.
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          default: 10
          format: int32
          title: Int32
          type: integer
        style: form
      - description: Page index specified in get document list request.
        explode: true
        in: query
        name: Page
        required: true
        schema:
          default: 1
          format: int32
          title: Int32
          type: integer
        style: form
      - description: Start date of the document
        explode: true
        in: query
        name: StartDate
        required: false
        schema:
          format: date-time
          title: Nullable`1
          type: string
        style: form
      - description: "Status of the document such as In-progress, Completed, Decline,\
          \ Expired, Revoked, Draft."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          items:
            enum:
            - None
            - WaitingForMe
            - WaitingForOthers
            - NeedAttention
            - Completed
            - Declined
            - Revoked
            - Expired
            - Draft
            title: Status
            type: string
          title: List`1
          type: array
        style: form
      - description: End date of the document
        explode: true
        in: query
        name: EndDate
        required: false
        schema:
          format: date-time
          title: Nullable`1
          type: string
        style: form
      - description: "Documents can be listed by the search key present in the document\
          \ like document title, document ID, sender or recipient(s) name, etc.,"
        explode: true
        in: query
        name: SearchKey
        required: false
        schema:
          title: String
          type: string
        style: form
      - description: Labels of the document.
        explode: true
        in: query
        name: Labels
        required: false
        schema:
          items:
            title: String
            type: string
          title: IEnumerable`1
          type: array
        style: form
      - description: "Next cursor value for pagination, required for fetching the\
          \ next set of documents beyond 10,000 records."
        explode: true
        in: query
        name: NextCursor
        required: false
        schema:
          format: int64
          title: Nullable`1
          type: integer
        style: form
      - description: BrandId(s) of the document.
        explode: true
        in: query
        name: BrandIds
        required: false
        schema:
          items:
            title: String
            type: string
          title: List`1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentRecords'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
      summary: List user documents.
      tags:
      - Document
      x-accepts:
      - application/json
  /v1/document/teamlist:
    get:
      operationId: TeamDocuments
      parameters:
      - description: UserId of the  Team document.
        explode: true
        in: query
        name: UserId
        required: false
        schema:
          items:
            title: String
            type: string
          title: List`1
          type: array
        style: form
      - description: TeamId  of the  Team document.
        explode: true
        in: query
        name: TeamId
        required: false
        schema:
          items:
            title: String
            type: string
          title: List`1
          type: array
        style: form
      - description: "Transmit type as Sent, Received and Both."
        explode: true
        in: query
        name: TransmitType
        required: false
        schema:
          enum:
          - Sent
          - Received
          - ' Both'
          title: TransmitType
          type: string
        style: form
      - description: Page size specified in get document list request.
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          default: 10
          format: int32
          title: Int32
          type: integer
        style: form
      - description: Page index specified in get document list request.
        explode: true
        in: query
        name: Page
        required: true
        schema:
          default: 1
          format: int32
          title: Int32
          type: integer
        style: form
      - description: Start date of the document
        explode: true
        in: query
        name: StartDate
        required: false
        schema:
          format: date-time
          title: Nullable`1
          type: string
        style: form
      - description: "Status of the document such as In-progress, Completed, Decline,\
          \ Expired, Revoked, Draft."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          items:
            enum:
            - None
            - WaitingForMe
            - WaitingForOthers
            - NeedAttention
            - Completed
            - Declined
            - Revoked
            - Expired
            - Draft
            title: Status
            type: string
          title: List`1
          type: array
        style: form
      - description: End date of the document
        explode: true
        in: query
        name: EndDate
        required: false
        schema:
          format: date-time
          title: Nullable`1
          type: string
        style: form
      - description: "Documents can be listed by the search key present in the document\
          \ like document title, document ID, sender or recipient(s) name, etc.,"
        explode: true
        in: query
        name: SearchKey
        required: false
        schema:
          title: String
          type: string
        style: form
      - description: Labels of the document.
        explode: true
        in: query
        name: Labels
        required: false
        schema:
          items:
            title: String
            type: string
          title: IEnumerable`1
          type: array
        style: form
      - description: "Next cursor value for pagination, required for fetching the\
          \ next set of documents beyond 10,000 records."
        explode: true
        in: query
        name: NextCursor
        required: false
        schema:
          format: int64
          title: Nullable`1
          type: integer
        style: form
      - description: BrandId(s) of the document.
        explode: true
        in: query
        name: BrandIds
        required: false
        schema:
          items:
            title: String
            type: string
          title: List`1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDocumentRecords'
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
      summary: Get user Team documents.
      tags:
      - Document
      x-accepts:
      - application/json
  /v1/document/behalfList:
    get:
      operationId: BehalfDocuments
      parameters:
      - description: The filter used to differentiate between documents sent on the
          user's behalf and documents sent by the user on behalf of others. The API
          will return documents based on the specified value.
        explode: true
        in: query
        name: PageType
        required: false
        schema:
          enum:
          - BehalfOfOthers
          - BehalfOfMe
          title: PageType
          type: string
        style: form
      - description: The sender identity's email used to filter the documents returned
          in the API. The API will return documents that were sent on behalf of the
          specified email address.
        explode: true
        in: query
        name: EmailAddress
        required: false
        schema:
          items:
            title: String
            type: string
          title: List`1
          type: array
        style: form
      - description: A list of signer email addresses used to filter the documents
          returned in the API. The API will return documents where the signer's email
          address matches one of the email addresses provided in this list
        explode: true
        in: query
        name: Signers
        required: false
        schema:
          items:
            title: String
            type: string
          title: List`1
          type: array
        style: form
      - description: Page size specified in get document list request.
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          default: 10
          format: int32
          title: Int32
          type: integer
        style: form
      - description: Page index specified in get document list request.
        explode: true
        in: query
        name: Page
        required: true
        schema:
          default: 1
          format: int32
          title: Int32
          type: integer
        style: form
      - description: Start date of the document
        explode: true
        in: query
        name: StartDate
        required: false
        schema:
          format: date-time
          title: Nullable`1
[...]
