openapi: 3.0.4
info:
  title: BoldSign API
  version: "1"
servers:
- url: https://api.boldsign.com
security:
- Bearer: []
- X-API-KEY: []
paths:
  /v1/brand/create:
    post:
      operationId: CreateBrand
      requestBody:
        content:
          multipart/form-data:
            encoding:
              BrandName:
                style: form
              BrandLogo:
                style: form
              BackgroundColor:
                style: form
              ButtonColor:
                style: form
              ButtonTextColor:
                style: form
              EmailDisplayName:
                style: form
              DisclaimerDescription:
                style: form
              DisclaimerTitle:
                style: form
              RedirectUrl:
                style: form
              IsDefault:
                style: form
              CanHideTagLine:
                style: form
              CombineAuditTrail:
                style: form
              CombineAttachments:
                style: form
              ExcludeAuditTrailFromEmail:
                style: form
              EmailSignedDocument:
                style: form
              DocumentTimeZone:
                style: form
              ShowBuiltInFormFields:
                style: form
              AllowCustomFieldCreation:
                style: form
              ShowSharedCustomFields:
                style: form
              HideDecline:
                style: form
              HideSave:
                style: form
              DocumentExpirySettings.ExpiryDateType:
                style: form
              DocumentExpirySettings.ExpiryValue:
                style: form
              DocumentExpirySettings.EnableDefaultExpiryAlert:
                style: form
              DocumentExpirySettings.EnableAutoReminder:
                style: form
              DocumentExpirySettings.ReminderDays:
                style: form
              DocumentExpirySettings.ReminderCount:
                style: form
              CustomDomainSettings.DomainName:
                style: form
              CustomDomainSettings.FromName:
                style: form
              SignatureFrameSettings.EnableSignatureFrame:
                style: form
              SignatureFrameSettings.ShowRecipientName:
                style: form
              SignatureFrameSettings.ShowRecipientEmail:
                style: form
              SignatureFrameSettings.ShowTimeStamp:
                style: form
            schema:
              $ref: '#/components/schemas/CreateBrand_request'
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/xml:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            text/plain:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            text/json:
              schema:
                $ref: '#/components/schemas/BrandCreated'
          description: OK
        "401":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
        "422":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unprocessable Content
      summary: Create the brand.
      tags:
      - Branding
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
      - application/json;IEEE754Compatible=false
      - application/json;IEEE754Compatible=true
      - application/json;odata.metadata=full
      - application/json;odata.metadata=full;IEEE754Compatible=false
      - application/json;odata.metadata=full;IEEE754Compatible=true
      - application/json;odata.metadata=full;odata.streaming=false
      - application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false
      - application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true
      - application/json;odata.metadata=full;odata.streaming=true
      - application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false
      - application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true
      - application/json;odata.metadata=minimal
      - application/json;odata.metadata=minimal;IEEE754Compatible=false
      - application/json;odata.metadata=minimal;IEEE754Compatible=true
      - application/json;odata.metadata=minimal;odata.streaming=false
      - application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false
      - application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true
      - application/json;odata.metadata=minimal;odata.streaming=true
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true
      - application/json;odata.metadata=none
      - application/json;odata.metadata=none;IEEE754Compatible=false
      - application/json;odata.metadata=none;IEEE754Compatible=true
      - application/json;odata.metadata=none;odata.streaming=false
      - application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false
      - application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true
      - application/json;odata.metadata=none;odata.streaming=true
      - application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false
      - application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true
      - application/json;odata.streaming=false
      - application/json;odata.streaming=false;IEEE754Compatible=false
      - application/json;odata.streaming=false;IEEE754Compatible=true
      - application/json;odata.streaming=true
      - application/json;odata.streaming=true;IEEE754Compatible=false
      - application/json;odata.streaming=true;IEEE754Compatible=true
      - application/octet-stream
      - application/xml
      - text/json
      - text/plain
  /v1/brand/edit:
    post:
      operationId: EditBrand
      parameters:
      - description: The brand id.
        explode: true
        in: query
        name: brandId
        required: true
        schema:
          title: String
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            encoding:
              BrandName:
                style: form
              BrandLogo:
                style: form
              BackgroundColor:
                style: form
              ButtonColor:
                style: form
              ButtonTextColor:
                style: form
              EmailDisplayName:
                style: form
              DisclaimerDescription:
                style: form
              DisclaimerTitle:
                style: form
              RedirectUrl:
                style: form
              IsDefault:
                style: form
              CanHideTagLine:
                style: form
              CombineAuditTrail:
                style: form
              CombineAttachments:
                style: form
              ExcludeAuditTrailFromEmail:
                style: form
              EmailSignedDocument:
                style: form
              DocumentTimeZone:
                style: form
              ShowBuiltInFormFields:
                style: form
              AllowCustomFieldCreation:
                style: form
              ShowSharedCustomFields:
                style: form
              HideDecline:
                style: form
              HideSave:
                style: form
              DocumentExpirySettings.ExpiryDateType:
                style: form
              DocumentExpirySettings.ExpiryValue:
                style: form
              DocumentExpirySettings.EnableDefaultExpiryAlert:
                style: form
              DocumentExpirySettings.EnableAutoReminder:
                style: form
              DocumentExpirySettings.ReminderDays:
                style: form
              DocumentExpirySettings.ReminderCount:
                style: form
              CustomDomainSettings.DomainName:
                style: form
              CustomDomainSettings.FromName:
                style: form
              SignatureFrameSettings.EnableSignatureFrame:
                style: form
              SignatureFrameSettings.ShowRecipientName:
                style: form
              SignatureFrameSettings.ShowRecipientEmail:
                style: form
              SignatureFrameSettings.ShowTimeStamp:
                style: form
            schema:
              $ref: '#/components/schemas/EditBrand_request'
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/xml:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            text/plain:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/BrandCreated'
            text/json:
              schema:
                $ref: '#/components/schemas/BrandCreated'
          description: OK
        "401":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
        "422":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unprocessable Content
      summary: Edit the brand.
      tags:
      - Branding
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
      - application/json;IEEE754Compatible=false
      - application/json;IEEE754Compatible=true
      - application/json;odata.metadata=full
      - application/json;odata.metadata=full;IEEE754Compatible=false
      - application/json;odata.metadata=full;IEEE754Compatible=true
      - application/json;odata.metadata=full;odata.streaming=false
      - application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false
      - application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true
      - application/json;odata.metadata=full;odata.streaming=true
      - application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false
      - application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true
      - application/json;odata.metadata=minimal
      - application/json;odata.metadata=minimal;IEEE754Compatible=false
      - application/json;odata.metadata=minimal;IEEE754Compatible=true
      - application/json;odata.metadata=minimal;odata.streaming=false
      - application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false
      - application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true
      - application/json;odata.metadata=minimal;odata.streaming=true
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true
      - application/json;odata.metadata=none
      - application/json;odata.metadata=none;IEEE754Compatible=false
      - application/json;odata.metadata=none;IEEE754Compatible=true
      - application/json;odata.metadata=none;odata.streaming=false
      - application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false
      - application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true
      - application/json;odata.metadata=none;odata.streaming=true
      - application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false
      - application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true
      - application/json;odata.streaming=false
      - application/json;odata.streaming=false;IEEE754Compatible=false
      - application/json;odata.streaming=false;IEEE754Compatible=true
      - application/json;odata.streaming=true
      - application/json;odata.streaming=true;IEEE754Compatible=false
      - application/json;odata.streaming=true;IEEE754Compatible=true
      - application/octet-stream
      - application/xml
      - text/json
      - text/plain
  /v1/brand/get:
    get:
      operationId: GetBrand
      parameters:
      - description: The brand id.
        explode: true
        in: query
        name: brandId
        required: true
        schema:
          title: String
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewBrandDetails'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unprocessable Content
      summary: Get the specific brand details.
      tags:
      - Branding
      x-accepts:
      - application/json
  /v1/brand/delete:
    delete:
      operationId: DeleteBrand
      parameters:
      - description: brand Id.
        explode: true
        in: query
        name: brandId
        required: true
        schema:
          title: String
          type: string
        style: form
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
          description: OK
        "401":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Forbidden
      summary: Delete the brand.
      tags:
      - Branding
      x-accepts:
      - application/json
      - application/json;IEEE754Compatible=false
      - application/json;IEEE754Compatible=true
      - application/json;odata.metadata=full
      - application/json;odata.metadata=full;IEEE754Compatible=false
      - application/json;odata.metadata=full;IEEE754Compatible=true
      - application/json;odata.metadata=full;odata.streaming=false
      - application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false
      - application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true
      - application/json;odata.metadata=full;odata.streaming=true
      - application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false
      - application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true
      - application/json;odata.metadata=minimal
      - application/json;odata.metadata=minimal;IEEE754Compatible=false
      - application/json;odata.metadata=minimal;IEEE754Compatible=true
      - application/json;odata.metadata=minimal;odata.streaming=false
      - application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false
      - application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true
      - application/json;odata.metadata=minimal;odata.streaming=true
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true
      - application/json;odata.metadata=none
      - application/json;odata.metadata=none;IEEE754Compatible=false
      - application/json;odata.metadata=none;IEEE754Compatible=true
      - application/json;odata.metadata=none;odata.streaming=false
      - application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false
      - application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true
      - application/json;odata.metadata=none;odata.streaming=true
      - application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false
      - application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true
      - application/json;odata.streaming=false
      - application/json;odata.streaming=false;IEEE754Compatible=false
      - application/json;odata.streaming=false;IEEE754Compatible=true
      - application/json;odata.streaming=true
      - application/json;odata.streaming=true;IEEE754Compatible=false
      - application/json;odata.streaming=true;IEEE754Compatible=true
      - application/octet-stream
      - application/xml
      - text/json
      - text/plain
  /v1/brand/resetdefault:
    post:
      operationId: ResetDefaultBrand
      parameters:
      - description: brand Id.
        explode: true
        in: query
        name: brandId
        required: true
        schema:
          title: String
          type: string
        style: form
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/BrandingMessage'
          description: OK
        "401":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "403":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
[...]
